<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Nomilyn Cayton</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/employees/add">Add Employee</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/employees">Employees</a></li>
					<li class="nav-item"><a class="nav-link" href="/managers">Managers</a></li>
					<li class="nav-item"><a class="nav-link" href="/departments">Departments</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->

                    <p><strong><em>Welcome to my simple yet meaningful website. I will be discussing fundamentals of HTML5, 
						its principles and techniques as well as routing in Express.</em></strong> </p>
					<br>
                    <h4> CONTENTS </h4>
                    <p>This website consists of three (3) static views, namely: </p>
						<ol type = "a">
							<li><a class="alink" href="/">Home</a></li>
							<li><a class="alink" href="/about">About</a></li>
							<li><a class="alink" href="/htmlDemo">HTML Demo</a></li>
						</ol>
					
                    <p>In addition, there are five (5) different routes that supply data which includes the following: </p>
						<ol type = "a">
							<li><a class="alink" href="/employees">All Employees</a></li>
							<li><a class="alink" href="/departments">All Departments</a></li>
							<li><a class="alink" href="/managers">All Managers</a></li>
							<li><a class="alink" href="/employees?department=7">Employees in Department Number 7</a></li>
							<li><a class="alink" href="/employee/28">Employee by Employee Number 28</a></li>
						</ol>        
						<br>            
                    <h4> What is HTML5? </h4>
                    <p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. 
                        This is the latest version of Hypertext Markup Language, the code that describes web pages. It's actually three kinds of code: HTML, which provides the structure; Cascading Style 
                        Sheets (CSS), which take care of presentation; and JavaScript, which makes things happen.</p>
								
					<!-- End your code here  -->

				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>