<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Nomilyn Cayton</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/employees/add">Add Employee</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/employees">Employees</a></li>
					<li class="nav-item"><a class="nav-link" href="/managers">Managers</a></li>
					<li class="nav-item"><a class="nav-link" href="/departments">Departments</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
                    <h1>HTML Examples</h1>
                    <br>
                    <h4> Tables </h4>
                    <table class="table1">
                        <caption>Table 1: Population Per Campus Per Academic Year</caption>
                        <thead>
                            <tr>
                                <th rowspan="2">Academic Year</th>
                                <th rowspan="2">Semester</th>
                                <th colspan = "3">Population Per Campus</th>
                            </tr>
                            <tr>
                                <th>King</th>
                                <th>Markham</th>
                                <th>Newnham</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3">2018 - 2019</td>
                                <td>Fall</td>
                                <td>1200</td>
                                <td>900</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>Winter</td>
                                <td>1000</td>
                                <td>800</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>Spring</td>
                                <td>1100</td>
                                <td>900</td>
                                <td>1800</td>
                            </tr>
                            <tr>
                                <td rowspan="3">2019 - 2020</td>
                                <td>Fall</td>
                                <td>1500</td>
                                <td>1200</td>
                                <td>2100</td>
                            </tr>
                            <tr>
                                <td>Winter</td>
                                <td>1300</td>
                                <td>1100</td>
                                <td>1700</td>
                            </tr>
                            <tr>
                                <td>Spring</td>
                                <td>600</td>
                                <td>500</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td rowspan="2">2020 - 2021</td>
                                <td>Fall</td>
                                <td>700</td>
                                <td>600</td>
                                <td>900</td>
                            </tr>
                            <tr>
                                <td>Winter</td>
                                <td>900</td>
                                <td>750</td>
                                <td>2500</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">TOTAL POPULATION</td>
                                <td>8,300</td>
                                <td>6,750</td>
                                <td>13,500</td>
                            </tr>
                        </tfoot>

                    </table>
                    <br>
                    <table class = "table2">
                        <caption>Table 2: Medication Information</caption>
                        <thead>
                            <tr>
                                <th>Medicine</th>
                                <th>Category</th>
                                <th colspan = "2">Indication</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Captopril</td>
                                <td rowspan = "2">ACE Inhibitors</td>
                                <td colspan="2">Diabetes</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Zestril</td>
                                <td colspan="2">Prevent Stroke</td>
                                <td>500</td>
                            </tr>
                            <tr>
                                <td>Metolazone</td>
                                <td rowspan="2">Diuretic</td>
                                <td>Prevent Stroke</td>
                                <td>Blood Pressure</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>Indapamine</td>
                                <td>Diabetes</td>
                                <td>Prevent Stroke</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td>Glyburide</td>
                                <td>Sulfonylureas</td>
                                <td rowspan="2" colspan="2">Cholesterol</td>
                                <td>300</td>
                            </tr>
                            <tr>
                                <td>Ibuprofen</td>
                                <td>NSAID</td>
                                <td>100</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">TOTAL</td>
                                <td>3000</td>
                            </tr>
                        </tfoot>
                    </table>
                    <p>The first table refers to the population of Seneca College for each Academic Year per campus in three (3) semesters.
                        The second table refers to the list of medicines with category, indication, and the number of available medicines or stock of HFHT Drug Mart. </p>
                    <hr>
                    <h4>List of Programs</h4>
                    <div class = "school">
                    <ol type="A">
                        
                        <li> School of Software Design & Data Science 
                            <ul>
                                <li>Computer Programming</li>
                                <li>Computer Programming & Analysis</li>
                                <li>Honours Bachelor of Commerce – Business Technology Management</li>
                                <li>Honours Bachelor of Data Science and Analytics</li>
                                <li>Honours Bachelor of Technology - Software Development</li>
                                <li>Business Analytics</li>
                                <li>Database Application Developer</li>
                            </ul>
                        </li>
                        
                        <li>School of Information Technology Administration & Security
                            <ul>
                                <li>Computer Systems Technician</li>
                                <li>Computer Systems Technology</li>
                                <li>Honours Bachelor of Technology - Informatics and Security</li>
                                <li>Honours Bachelor of Technology - Informatics and Security</li>
                                <li>Project Management – Information Technology</li>
                            </ul>                            
                        </li>
                        <li>School of Accounting & Financial Services
                            <ul>
                                <li>Accounting and Payroll</li>
                                <li>Business – Insurance</li>
                                <li>Financial Services – Client Services</li>
                                <li>Business Administration – Financial Planning</li>
                            </ul>                            
                        </li>
                        <li>School of Electronics & Mechanical Engineering Technology
                            <ul>
                                <li>Computer Engineering Technology</li>
                                <li>Electronics Engineering Technology</li>
                                <li>Electromechanical Engineering Technology – Automation</li>
                                <li>Mechanical Engineering Technology – Building Sciences</li>
                                <li>Mechanical Engineering Technology – Industrial Design</li>
                                <li>Building Systems Engineering Technician</li>
                                <li>Electronics Engineering Technician</li>
                                <li>Mechanical Engineering Technician (Tool Design)</li>
                                <li>Mechanical Technician – CNC Programming</li>
                            </ul>
                        </li>
                        <li>School of Aviation
                            <ul>
                                <li>Aviation Operations</li>
                                <li>Aviation Safety</li>
                                <li>Honours Bachelor of Aviation Technology</li>
                                <li>Airline Pilot Flight Operations</li>
                            </ul>
                        </li>
                    </ol>   
                    </div>
                      <p>These are the programs offered by Seneca College for each school and taken from their website, <a href = "http://www.senecacollege.ca">www.senecacollege.ca</a>. </p>
                    <hr>
                    <h4>Volcano Images</h4>
                    <table class = "table">
                        <thead>
                            <tr>
                                <th>Mount Mayon</th>
                                <th>Mount Taal</th>
                                <th>Mount Pinatubo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src = "https://upload.wikimedia.org/wikipedia/commons/8/81/Mt.Mayon_tam3rd.jpg" alt = "Mount Mayon Image" height = "300" width ="300"></td>
                                <td><img src = "https://upload.wikimedia.org/wikipedia/commons/2/2f/Taal_Volcano.jpg" alt = "Mount Taal Image" height = "300" width ="300"></td>
                                <td><img src = "https://upload.wikimedia.org/wikipedia/commons/4/4c/Mount_Pinatubo_20081229_01.jpg" alt = "Mount Pinatubo Image" height = "300" width ="300"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <p>These are the three most active volcanoes in the Philippines. Mount Mayon is a classic stratovolcano with a 
                        small central summit crater. The cone is considered the world's most perfectly formed volcano for its 
                        symmetry. Mount Taal is a beautiful caldera volcano, but one of the most active and dangerous volcanoes 
                        in the Philippines. This is famous and one of the country's most popular tourist destinations because of 
                        its breathtaking sceneray at Taal Lake. Pinatubo is most notorious for its VEI-6 eruption on June 15, 1991, 
                        the second-largest terrestrial eruption of the 20th century after the 1912 eruption of Novarupta in Alaska.</p>
                    <hr>
                    <h4>Audio</h4>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.mp3" type="audio/mp3">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.ogg" type="audio/ogg">
                        <p>Your browser does not support the audio tag.</p>
                      </audio>
                      <br>
                    <p>This is a classical music for relaxation and improves brain activity. </p>
                    <hr>
                    <h4>Video</h4>                   
                    <video width="320" height="240" controls>
                        <source src = "https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.mp4" type="video/mp4">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.ogg" type="video/ogg">
                         <source src = "https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.webm" type="video/webm">
                        <p>Your browser does not support the video tag.</p>
                      </video>
                      <br>
                    <p>This bear is playing in the stream with the birds while waiting for his friends. </p>
                        <!-- End your code here  -->
				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>