@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body, html {
    font-family: 'Didact Gothic', sans-serif;
    background: #CFFC03;  /*fallback color */
    background: linear-gradient( to bottom, #CFFC03, #53FC03,#FCAC03);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

table.table1 {
    border-spacing: 0.5rem;
    border-collapse:collapse;
}
table.table2 {
    border-spacing: 0.1rem;
    border-collapse:separate;
}

nav.bg-light {
    background: linear-gradient( to bottom, rgb(167, 238, 167), white, white, rgb(97, 192, 97));
    box-shadow: inset 10px 10px 5px 0px darkgreen;
    font-weight: bold;    
}

a.navbar-brand {
   font-family: 'Abril Fatface', cursive;
   color: darkgreen !important;
   text-shadow: 1px 1px yellow;
}

.nav-link:hover {
    font-family: 'Purple Purse', cursive;
    font-size: large;
    color:darkgreen !important;
    text-shadow: 1px 1px yellow;
    
}

.btn-primary:hover {
    background: green; 
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(255,0,51,1);
}

  tr:nth-child(odd) {
    background:lightgreen; 
  }
  tr:nth-child(even) {
    background: yellowgreen; 
}

thead, tfoot {
    font-weight: bold;
}

table, th, td {
    border: 1px black solid;
}

th, tfoot {
    height: 30pt; 
    text-align: center;
}

td, caption {
    text-align: center;
}

caption {
    color: darkgreen;
    font-weight: bold;
}

th {
    background: darkgreen;
    color: white;
}

ol {
    background:lightgreen;
}

ul {
    list-style-type:disc;
}
h1, h4 {
    font-family: 'DM Serif Display', serif;
    color: darkgreen;
    font-weight: bold;
    text-shadow: 1px 1px yellow;

}
a.alink:hover {
    color:red;
    font-weight: bold;
}

legend {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'DM Serif Display', serif;
    color: darkgreen;
    font-weight: bold;    
    text-shadow: 1px 1px yellow;
}

div.school {
    font-weight: bold;    
}

div.description {
    color: darkgreen;
    font-weight: bold;
}